@import './vendors/container.css';
@import './vendors/fonts.css';
@import './vendors/normalize.css';
@import './vendors/vars.css';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--gray);
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 50px;
    border-radius: 8px;
    color: var(--white);
    background: var(--gray);
    transition: 0.4s;
}

.button:hover{
    background: var(--yellow);
    color: var(--black);
}

.button.light{
    background: var(--yellow);
    color: var(--gray);
}

.button.light:hover{
    background: var(--gray);
    color: var(--yellow);
}

.title{
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}

.subtitle{
    max-width: 950px;
    font-size: 40px;
    margin-top: 25px;
}

.content{
    padding: 45px 0px;
}

@media(max-width: 1200px){
    .button{
        width: 180px;
        height: 40px;
    }

    .content{
        padding: 35px 0px;
    }

    .subtitle{
        margin-top: 25px;
        font-size: 30px;
        max-width: 600px;
    }
    
    .title{
        font-size: 46px;
        line-height: 50px;
    }
}

@media(max-width: 540px){
    .button{
        width: 140px;
        height: 32px;
    }

    .content{
        padding: 25px 0px;
    }

    .subtitle{
        margin-top: 15px;
        font-size: 24px;
    }
}