.header{
    padding: 15px 0px;
}

.header-content-socials__link:not(:first-child){
    margin-left: 17px;
}

.header-content-socials__link{
    outline: none;
}

.header-content-socials__link svg{
    transition: 0.4s;
}

.header-content__contact-item{
    display: flex;
    align-items: center;
    color: var(--gray);
    transition: 0.4s;
    margin-left: 45px;
}

.header-content__contact-item svg{
    margin-right: 5px;
}

.header-content__contact-item:hover{
    color: var(--yellow);
}

.header-content__right{
    display: flex;
    align-items: center;
}

.header-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-menu__item__link{
    color: var(--gray);
    transition: 0.4s;
}

.header-nav-menu__item__link:hover{
    color: var(--yellow);
}

.header-nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content-bottom{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--gray);
}

.header-nav-menu__item:not(:first-child){
    margin-left: 30px;
}

@media(max-width: 1200px){
    .header-content__logo-icon{
        width: 120px;
        height: 32px;
    }

    .header-nav-menu__item:not(:first-child){
        margin-left: 15px;
    }

    .header-nav-menu__item__link{
        font-size: 14px;
    }
}

@media(max-width: 768px){
    .header-content__contact-item span{
        display: none;
    }

    .header-content__contact-item{
        margin-left: 20px;
    }

    .header-content-socials{
        display: none;
    }
}

@media(max-width: 630px){
    .header-content-bottom{
        display: none;
    }
}